<div class="min-h-full justify-center px-6 lg:px-8">

  <div class="float-left rounded border-2 border-violet-400 m-2 p-5">
    <div class="demo-section">
      Button toggles badge visibility
      <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
          Hide
      </button>
    </div>
  
    <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>
  
    <div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>
  
    <div class="demo-section">
      Button with a badge on the left
      <button mat-raised-button color="primary" (click)="openDialog()"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Launch dialog
      </button>
    </div>
  </div>
  <div class="rounded float-left border-2 border-cyan-400 m-2 p-5">
    <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
    <p><mat-slide-toggle labelPosition="before">...and slide me too!</mat-slide-toggle></p>
  </div>
  <div class="rounded float-left border-2 border-green-400 m-2 p-5">
    <button mat-button>mat-button</button>
    <button mat-raised-button (click)="openBottomSheet()">Open file</button>
  </div>
  <div class="rounded float-left border-2 border-red-400 m-2 p-5">
    <mat-chip-set aria-label="Fish selection">
      <mat-chip>One fish</mat-chip>
      <mat-chip>Two fish</mat-chip>
      <mat-chip>Three fish</mat-chip>
      <mat-chip disabled>Four fish</mat-chip>
    </mat-chip-set>
  </div>

  <mat-divider [vertical]="true"></mat-divider>
  <div class="rounded float-left border-2 border-yellow-400 m-2 p-5">
    <mat-list>
      <mat-list-item>Simple Divider</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Inset Divider</mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>Inset Divider</mat-list-item>
    </mat-list>
  </div>
  <mat-divider class="h-full bg-white" [vertical]="true"></mat-divider>
  <div class="rounded float-left border-2 border-teal-400 m-2 p-5">
    <p>
      Options selected: {{shoes.selectedOptions.selected.length}}
    </p>
    <mat-selection-list #shoes>
      @for (shoe of typesOfShoes; track shoe) {
        <mat-list-option>{{shoe}}</mat-list-option>
      }
    </mat-selection-list>
  </div>
</div>